<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Feel&Share - Ayuda</title>
        <meta name="description" content="Comparte y sientete mejor">
        <meta name="author" content="SanOS Development Team">
        <meta name="keywords" content="sentimientos, sanOS, sanos, SanOS, compartir sentimientos, encontrar amigos">
        <link rel="stylesheet" href="{% static 'ta4.css' %}">
    </head>
    <body>
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
              <div class="nav-title">
                Feel&Share
              </div>
            </div>
            <div class="nav-btn">
              <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
              </label>
            </div>

            <div class="nav-links">
              <a href="{% url 'p4.html' %}">Inicio</a>
              <a href="{% url 'pf4.html' %}">Comparte tus sentimientos</a>
              <a href="{% url 'g4.html' %}">Gráfico</a>
            </div>
          </div>
        <div class="text">
            <h1>¿Necesitas ayuda?</h1>
            <p class="normal">Comunícate con nosotros a través de nuestro correo de contacto:</p>
            <p class="mail">feel&share.support@gmail.com</p>
            <h1>¿Ayuda profesional?</h1>
            <p class="normal">Habla con nuestra psicóloga y podras solucionar hasta los problemas mas abrumantes.</p>
            <p class="number">+569XXXXXXXX</p>
        </div>
        <div class="botbar1">
          <p>Feel&Share es una página hecha especialmente para compartir sentimientos de manera anónima. Las descripciones de las funcionalidades principales estan resumidas para un mejor entendimiento. Usa Feel&Share moderadamente y bajo tu propio criterio.</p>
        </div>
        <div class="botbar2">
          <p>Copyright 2022. Todos los derechos reservados.</p>
        </div>
        <div class="botbar3">
          <p>Desarrollado por SanOS Development Team</p>
        </div>
    </body>
</html>