* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  
      /* Location of the image */
    background-image: url(springbg.jpg);
      
      /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
      
      /* Background image doesn't tile */
    background-repeat: no-repeat;
      
      /* Background image is fixed in the viewport so that it doesn't move when
      the content's height is greater than the image's height */
    background-attachment: fixed;
      
      /* This is what makes the background image rescale based
      on the container's size */
    background-size: cover;
      
      /* Set a background color that will be displayed
      while the background image is loading */
    background-color: #464646;
  }
  
  .nav {
    top: 0;
    height: 50px;
    width: 100%;
    background-color: #337496;
    position: fixed;
    z-index: 5;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
    transition: all .2s ease-in-out;
  }
  
  .nav > .nav-header > .nav-title:hover {
    transform: scale(1.1);
  }
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links > a.active{
    background-color: #dcaec8;
    color: black;
  }
  
  
  .nav > .nav-links > a.active:hover{
    background-color: #ffe1f2;
    color: black;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
    transition: all .2s ease-in-out;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

  .topmargin{
    background-color: #337496;
    margin-top: 10%;
    color: white;
}

.botbar1{
    position: absolute;
    left: 0;
    top: 95%;
    background: #337496;
    display: table;
    width: 100%;
    height: 50px;
    margin: 2rem auto;
    text-align: center;
    z-index: -20;
  }
  
  .botbar1 p{
    display: table-cell;
    font-size: 0.9rem;
    margin: 0;
    padding: 2rem 2rem;
    vertical-align: top;
    color: rgba(255, 255, 255, 0.546);
  }
  
  .botbar2{
    position: absolute;
    left: 0;
    top: 110%;
    background: #337496;
    display: table;
    width: 100%;
    height: 10px;
    margin: 2rem auto;
    text-align: center;
    z-index: -20;
  }
  
  .botbar2 p{
    display: table-cell;
    font-size: 0.9rem;
    margin: 0;
    padding: 0.5rem 0rem;
    vertical-align: top;
    color: rgba(255, 255, 255, 0.546);
  }
  
  .botbar3{
    position: absolute;
    left: 0;
    top: 115%;
    background: #337496;
    display: table;
    width: 100%;
    height: 20px;
    margin: 2rem auto;
    text-align: center;
    z-index: -20;
  }
  
  .botbar3 p{
    display: table-cell;
    font-size: 0.9rem;
    margin: 0;
    padding: 0.5rem 0rem;
    vertical-align: top;
    color: rgba(255, 255, 255, 0.546);
  }